.banner {
    height: 80vh;
    width: 100%;
    background-image: url('../../../images/bannar1.png');
    background-size: cover;
}

.banner p {
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 300;
}